openapi: 3.2.0
info:
  title: OpenDART API
  version: "2026-07-17"
  summary: 금융감독원 OpenDART 공식 개발가이드 기반 API 명세
  description: 공식 OpenDART 개발가이드에서 추출한 소스 기반 명세입니다. HTTP 상태, 응답 필드 타입, 완전성 및 수집 의미처럼 가이드가 규정하지 않는 동작은 추정하지 않고 x-opendart에 명시합니다.
externalDocs:
  description: OpenDART 개발가이드
  url: https://opendart.fss.or.kr/guide/main.do?apiGrpCd=DS001
servers:
  - url: https://opendart.fss.or.kr/api
    description: OpenDART production API
tags:
  - name: DS001
    description: 공시정보
    externalDocs:
      description: 공시정보 개발가이드
      url: https://opendart.fss.or.kr/guide/main.do?apiGrpCd=DS001
  - name: DS002
    description: 정기보고서 주요정보
    externalDocs:
      description: 정기보고서 주요정보 개발가이드
      url: https://opendart.fss.or.kr/guide/main.do?apiGrpCd=DS002
  - name: DS003
    description: 정기보고서 재무정보
    externalDocs:
      description: 정기보고서 재무정보 개발가이드
      url: https://opendart.fss.or.kr/guide/main.do?apiGrpCd=DS003
  - name: DS004
    description: 지분공시 종합정보
    externalDocs:
      description: 지분공시 종합정보 개발가이드
      url: https://opendart.fss.or.kr/guide/main.do?apiGrpCd=DS004
  - name: DS005
    description: 주요사항보고서 주요정보
    externalDocs:
      description: 주요사항보고서 주요정보 개발가이드
      url: https://opendart.fss.or.kr/guide/main.do?apiGrpCd=DS005
  - name: DS006
    description: 증권신고서 주요정보
    externalDocs:
      description: 증권신고서 주요정보 개발가이드
      url: https://opendart.fss.or.kr/guide/main.do?apiGrpCd=DS006
security:
  - crtfcKey: []
paths:
  /accnutAdtorNmNdAdtOpinion.json:
    $ref: '#/components/pathItems/accnutAdtorNmNdAdtOpinion.json'
  /accnutAdtorNmNdAdtOpinion.xml:
    $ref: '#/components/pathItems/accnutAdtorNmNdAdtOpinion.xml'
  /accnutAdtorNonAdtServcCnclsSttus.json:
    $ref: '#/components/pathItems/accnutAdtorNonAdtServcCnclsSttus.json'
  /accnutAdtorNonAdtServcCnclsSttus.xml:
    $ref: '#/components/pathItems/accnutAdtorNonAdtServcCnclsSttus.xml'
  /adtServcCnclsSttus.json:
    $ref: '#/components/pathItems/adtServcCnclsSttus.json'
  /adtServcCnclsSttus.xml:
    $ref: '#/components/pathItems/adtServcCnclsSttus.xml'
  /alotMatter.json:
    $ref: '#/components/pathItems/alotMatter.json'
  /alotMatter.xml:
    $ref: '#/components/pathItems/alotMatter.xml'
  /astInhtrfEtcPtbkOpt.json:
    $ref: '#/components/pathItems/astInhtrfEtcPtbkOpt.json'
  /astInhtrfEtcPtbkOpt.xml:
    $ref: '#/components/pathItems/astInhtrfEtcPtbkOpt.xml'
  /bdRs.json:
    $ref: '#/components/pathItems/bdRs.json'
  /bdRs.xml:
    $ref: '#/components/pathItems/bdRs.xml'
  /bdwtIsDecsn.json:
    $ref: '#/components/pathItems/bdwtIsDecsn.json'
  /bdwtIsDecsn.xml:
    $ref: '#/components/pathItems/bdwtIsDecsn.xml'
  /bnkMngtPcbg.json:
    $ref: '#/components/pathItems/bnkMngtPcbg.json'
  /bnkMngtPcbg.xml:
    $ref: '#/components/pathItems/bnkMngtPcbg.xml'
  /bnkMngtPcsp.json:
    $ref: '#/components/pathItems/bnkMngtPcsp.json'
  /bnkMngtPcsp.xml:
    $ref: '#/components/pathItems/bnkMngtPcsp.xml'
  /bsnInhDecsn.json:
    $ref: '#/components/pathItems/bsnInhDecsn.json'
  /bsnInhDecsn.xml:
    $ref: '#/components/pathItems/bsnInhDecsn.xml'
  /bsnSp.json:
    $ref: '#/components/pathItems/bsnSp.json'
  /bsnSp.xml:
    $ref: '#/components/pathItems/bsnSp.xml'
  /bsnTrfDecsn.json:
    $ref: '#/components/pathItems/bsnTrfDecsn.json'
  /bsnTrfDecsn.xml:
    $ref: '#/components/pathItems/bsnTrfDecsn.xml'
  /cmpDvDecsn.json:
    $ref: '#/components/pathItems/cmpDvDecsn.json'
  /cmpDvDecsn.xml:
    $ref: '#/components/pathItems/cmpDvDecsn.xml'
  /cmpDvmgDecsn.json:
    $ref: '#/components/pathItems/cmpDvmgDecsn.json'
  /cmpDvmgDecsn.xml:
    $ref: '#/components/pathItems/cmpDvmgDecsn.xml'
  /cmpMgDecsn.json:
    $ref: '#/components/pathItems/cmpMgDecsn.json'
  /cmpMgDecsn.xml:
    $ref: '#/components/pathItems/cmpMgDecsn.xml'
  /cndlCaplScritsNrdmpBlce.json:
    $ref: '#/components/pathItems/cndlCaplScritsNrdmpBlce.json'
  /cndlCaplScritsNrdmpBlce.xml:
    $ref: '#/components/pathItems/cndlCaplScritsNrdmpBlce.xml'
  /company.json:
    $ref: '#/components/pathItems/company.json'
  /company.xml:
    $ref: '#/components/pathItems/company.xml'
  /corpCode.xml:
    $ref: '#/components/pathItems/corpCode.xml'
  /cprndNrdmpBlce.json:
    $ref: '#/components/pathItems/cprndNrdmpBlce.json'
  /cprndNrdmpBlce.xml:
    $ref: '#/components/pathItems/cprndNrdmpBlce.xml'
  /crDecsn.json:
    $ref: '#/components/pathItems/crDecsn.json'
  /crDecsn.xml:
    $ref: '#/components/pathItems/crDecsn.xml'
  /ctrcvsBgrq.json:
    $ref: '#/components/pathItems/ctrcvsBgrq.json'
  /ctrcvsBgrq.xml:
    $ref: '#/components/pathItems/ctrcvsBgrq.xml'
  /cvbdIsDecsn.json:
    $ref: '#/components/pathItems/cvbdIsDecsn.json'
  /cvbdIsDecsn.xml:
    $ref: '#/components/pathItems/cvbdIsDecsn.xml'
  /detScritsIsuAcmslt.json:
    $ref: '#/components/pathItems/detScritsIsuAcmslt.json'
  /detScritsIsuAcmslt.xml:
    $ref: '#/components/pathItems/detScritsIsuAcmslt.xml'
  /dfOcr.json:
    $ref: '#/components/pathItems/dfOcr.json'
  /dfOcr.xml:
    $ref: '#/components/pathItems/dfOcr.xml'
  /document.xml:
    $ref: '#/components/pathItems/document.xml'
  /drctrAdtAllMendngSttusGmtsckConfmAmount.json:
    $ref: '#/components/pathItems/drctrAdtAllMendngSttusGmtsckConfmAmount.json'
  /drctrAdtAllMendngSttusGmtsckConfmAmount.xml:
    $ref: '#/components/pathItems/drctrAdtAllMendngSttusGmtsckConfmAmount.xml'
  /drctrAdtAllMendngSttusMendngPymntamtTyCl.json:
    $ref: '#/components/pathItems/drctrAdtAllMendngSttusMendngPymntamtTyCl.json'
  /drctrAdtAllMendngSttusMendngPymntamtTyCl.xml:
    $ref: '#/components/pathItems/drctrAdtAllMendngSttusMendngPymntamtTyCl.xml'
  /dsRsOcr.json:
    $ref: '#/components/pathItems/dsRsOcr.json'
  /dsRsOcr.xml:
    $ref: '#/components/pathItems/dsRsOcr.xml'
  /dvRs.json:
    $ref: '#/components/pathItems/dvRs.json'
  /dvRs.xml:
    $ref: '#/components/pathItems/dvRs.xml'
  /elestock.json:
    $ref: '#/components/pathItems/elestock.json'
  /elestock.xml:
    $ref: '#/components/pathItems/elestock.xml'
  /empSttus.json:
    $ref: '#/components/pathItems/empSttus.json'
  /empSttus.xml:
    $ref: '#/components/pathItems/empSttus.xml'
  /entrprsBilScritsNrdmpBlce.json:
    $ref: '#/components/pathItems/entrprsBilScritsNrdmpBlce.json'
  /entrprsBilScritsNrdmpBlce.xml:
    $ref: '#/components/pathItems/entrprsBilScritsNrdmpBlce.xml'
  /estkRs.json:
    $ref: '#/components/pathItems/estkRs.json'
  /estkRs.xml:
    $ref: '#/components/pathItems/estkRs.xml'
  /exbdIsDecsn.json:
    $ref: '#/components/pathItems/exbdIsDecsn.json'
  /exbdIsDecsn.xml:
    $ref: '#/components/pathItems/exbdIsDecsn.xml'
  /exctvSttus.json:
    $ref: '#/components/pathItems/exctvSttus.json'
  /exctvSttus.xml:
    $ref: '#/components/pathItems/exctvSttus.xml'
  /extrRs.json:
    $ref: '#/components/pathItems/extrRs.json'
  /extrRs.xml:
    $ref: '#/components/pathItems/extrRs.xml'
  /fnlttCmpnyIndx.json:
    $ref: '#/components/pathItems/fnlttCmpnyIndx.json'
  /fnlttCmpnyIndx.xml:
    $ref: '#/components/pathItems/fnlttCmpnyIndx.xml'
  /fnlttMultiAcnt.json:
    $ref: '#/components/pathItems/fnlttMultiAcnt.json'
  /fnlttMultiAcnt.xml:
    $ref: '#/components/pathItems/fnlttMultiAcnt.xml'
  /fnlttSinglAcnt.json:
    $ref: '#/components/pathItems/fnlttSinglAcnt.json'
  /fnlttSinglAcnt.xml:
    $ref: '#/components/pathItems/fnlttSinglAcnt.xml'
  /fnlttSinglAcntAll.json:
    $ref: '#/components/pathItems/fnlttSinglAcntAll.json'
  /fnlttSinglAcntAll.xml:
    $ref: '#/components/pathItems/fnlttSinglAcntAll.xml'
  /fnlttSinglIndx.json:
    $ref: '#/components/pathItems/fnlttSinglIndx.json'
  /fnlttSinglIndx.xml:
    $ref: '#/components/pathItems/fnlttSinglIndx.xml'
  /fnlttXbrl.xml:
    $ref: '#/components/pathItems/fnlttXbrl.xml'
  /fricDecsn.json:
    $ref: '#/components/pathItems/fricDecsn.json'
  /fricDecsn.xml:
    $ref: '#/components/pathItems/fricDecsn.xml'
  /hmvAuditAllSttus.json:
    $ref: '#/components/pathItems/hmvAuditAllSttus.json'
  /hmvAuditAllSttus.xml:
    $ref: '#/components/pathItems/hmvAuditAllSttus.xml'
  /hmvAuditIndvdlBySttus.json:
    $ref: '#/components/pathItems/hmvAuditIndvdlBySttus.json'
  /hmvAuditIndvdlBySttus.xml:
    $ref: '#/components/pathItems/hmvAuditIndvdlBySttus.xml'
  /hmvAuditIndvdlBySttusV2.json:
    $ref: '#/components/pathItems/hmvAuditIndvdlBySttusV2.json'
  /hmvAuditIndvdlBySttusV2.xml:
    $ref: '#/components/pathItems/hmvAuditIndvdlBySttusV2.xml'
  /hyslrChgSttus.json:
    $ref: '#/components/pathItems/hyslrChgSttus.json'
  /hyslrChgSttus.xml:
    $ref: '#/components/pathItems/hyslrChgSttus.xml'
  /hyslrSttus.json:
    $ref: '#/components/pathItems/hyslrSttus.json'
  /hyslrSttus.xml:
    $ref: '#/components/pathItems/hyslrSttus.xml'
  /indvdlByPay.json:
    $ref: '#/components/pathItems/indvdlByPay.json'
  /indvdlByPay.xml:
    $ref: '#/components/pathItems/indvdlByPay.xml'
  /indvdlByPayV2.json:
    $ref: '#/components/pathItems/indvdlByPayV2.json'
  /indvdlByPayV2.xml:
    $ref: '#/components/pathItems/indvdlByPayV2.xml'
  /irdsSttus.json:
    $ref: '#/components/pathItems/irdsSttus.json'
  /irdsSttus.xml:
    $ref: '#/components/pathItems/irdsSttus.xml'
  /list.json:
    $ref: '#/components/pathItems/list.json'
  /list.xml:
    $ref: '#/components/pathItems/list.xml'
  /lwstLg.json:
    $ref: '#/components/pathItems/lwstLg.json'
  /lwstLg.xml:
    $ref: '#/components/pathItems/lwstLg.xml'
  /majorstock.json:
    $ref: '#/components/pathItems/majorstock.json'
  /majorstock.xml:
    $ref: '#/components/pathItems/majorstock.xml'
  /mgRs.json:
    $ref: '#/components/pathItems/mgRs.json'
  /mgRs.xml:
    $ref: '#/components/pathItems/mgRs.xml'
  /mrhlSttus.json:
    $ref: '#/components/pathItems/mrhlSttus.json'
  /mrhlSttus.xml:
    $ref: '#/components/pathItems/mrhlSttus.xml'
  /newCaplScritsNrdmpBlce.json:
    $ref: '#/components/pathItems/newCaplScritsNrdmpBlce.json'
  /newCaplScritsNrdmpBlce.xml:
    $ref: '#/components/pathItems/newCaplScritsNrdmpBlce.xml'
  /otcprStkInvscrInhDecsn.json:
    $ref: '#/components/pathItems/otcprStkInvscrInhDecsn.json'
  /otcprStkInvscrInhDecsn.xml:
    $ref: '#/components/pathItems/otcprStkInvscrInhDecsn.xml'
  /otcprStkInvscrTrfDecsn.json:
    $ref: '#/components/pathItems/otcprStkInvscrTrfDecsn.json'
  /otcprStkInvscrTrfDecsn.xml:
    $ref: '#/components/pathItems/otcprStkInvscrTrfDecsn.xml'
  /otrCprInvstmntSttus.json:
    $ref: '#/components/pathItems/otrCprInvstmntSttus.json'
  /otrCprInvstmntSttus.xml:
    $ref: '#/components/pathItems/otrCprInvstmntSttus.xml'
  /outcmpnyDrctrNdChangeSttus.json:
    $ref: '#/components/pathItems/outcmpnyDrctrNdChangeSttus.json'
  /outcmpnyDrctrNdChangeSttus.xml:
    $ref: '#/components/pathItems/outcmpnyDrctrNdChangeSttus.xml'
  /ovDlst.json:
    $ref: '#/components/pathItems/ovDlst.json'
  /ovDlst.xml:
    $ref: '#/components/pathItems/ovDlst.xml'
  /ovDlstDecsn.json:
    $ref: '#/components/pathItems/ovDlstDecsn.json'
  /ovDlstDecsn.xml:
    $ref: '#/components/pathItems/ovDlstDecsn.xml'
  /ovLst.json:
    $ref: '#/components/pathItems/ovLst.json'
  /ovLst.xml:
    $ref: '#/components/pathItems/ovLst.xml'
  /ovLstDecsn.json:
    $ref: '#/components/pathItems/ovLstDecsn.json'
  /ovLstDecsn.xml:
    $ref: '#/components/pathItems/ovLstDecsn.xml'
  /pifricDecsn.json:
    $ref: '#/components/pathItems/pifricDecsn.json'
  /pifricDecsn.xml:
    $ref: '#/components/pathItems/pifricDecsn.xml'
  /piicDecsn.json:
    $ref: '#/components/pathItems/piicDecsn.json'
  /piicDecsn.xml:
    $ref: '#/components/pathItems/piicDecsn.xml'
  /prvsrpCptalUseDtls.json:
    $ref: '#/components/pathItems/prvsrpCptalUseDtls.json'
  /prvsrpCptalUseDtls.xml:
    $ref: '#/components/pathItems/prvsrpCptalUseDtls.xml'
  /pssrpCptalUseDtls.json:
    $ref: '#/components/pathItems/pssrpCptalUseDtls.json'
  /pssrpCptalUseDtls.xml:
    $ref: '#/components/pathItems/pssrpCptalUseDtls.xml'
  /srtpdPsndbtNrdmpBlce.json:
    $ref: '#/components/pathItems/srtpdPsndbtNrdmpBlce.json'
  /srtpdPsndbtNrdmpBlce.xml:
    $ref: '#/components/pathItems/srtpdPsndbtNrdmpBlce.xml'
  /stkdpRs.json:
    $ref: '#/components/pathItems/stkdpRs.json'
  /stkdpRs.xml:
    $ref: '#/components/pathItems/stkdpRs.xml'
  /stkExtrDecsn.json:
    $ref: '#/components/pathItems/stkExtrDecsn.json'
  /stkExtrDecsn.xml:
    $ref: '#/components/pathItems/stkExtrDecsn.xml'
  /stkrtbdInhDecsn.json:
    $ref: '#/components/pathItems/stkrtbdInhDecsn.json'
  /stkrtbdInhDecsn.xml:
    $ref: '#/components/pathItems/stkrtbdInhDecsn.xml'
  /stkrtbdTrfDecsn.json:
    $ref: '#/components/pathItems/stkrtbdTrfDecsn.json'
  /stkrtbdTrfDecsn.xml:
    $ref: '#/components/pathItems/stkrtbdTrfDecsn.xml'
  /stockTotqySttus.json:
    $ref: '#/components/pathItems/stockTotqySttus.json'
  /stockTotqySttus.xml:
    $ref: '#/components/pathItems/stockTotqySttus.xml'
  /tesstkAcqsDspsSttus.json:
    $ref: '#/components/pathItems/tesstkAcqsDspsSttus.json'
  /tesstkAcqsDspsSttus.xml:
    $ref: '#/components/pathItems/tesstkAcqsDspsSttus.xml'
  /tgastInhDecsn.json:
    $ref: '#/components/pathItems/tgastInhDecsn.json'
  /tgastInhDecsn.xml:
    $ref: '#/components/pathItems/tgastInhDecsn.xml'
  /tgastTrfDecsn.json:
    $ref: '#/components/pathItems/tgastTrfDecsn.json'
  /tgastTrfDecsn.xml:
    $ref: '#/components/pathItems/tgastTrfDecsn.xml'
  /tsstkAqDecsn.json:
    $ref: '#/components/pathItems/tsstkAqDecsn.json'
  /tsstkAqDecsn.xml:
    $ref: '#/components/pathItems/tsstkAqDecsn.xml'
  /tsstkAqTrctrCcDecsn.json:
    $ref: '#/components/pathItems/tsstkAqTrctrCcDecsn.json'
  /tsstkAqTrctrCcDecsn.xml:
    $ref: '#/components/pathItems/tsstkAqTrctrCcDecsn.xml'
  /tsstkAqTrctrCnsDecsn.json:
    $ref: '#/components/pathItems/tsstkAqTrctrCnsDecsn.json'
  /tsstkAqTrctrCnsDecsn.xml:
    $ref: '#/components/pathItems/tsstkAqTrctrCnsDecsn.xml'
  /tsstkDpDecsn.json:
    $ref: '#/components/pathItems/tsstkDpDecsn.json'
  /tsstkDpDecsn.xml:
    $ref: '#/components/pathItems/tsstkDpDecsn.xml'
  /unrstExctvMendngSttus.json:
    $ref: '#/components/pathItems/unrstExctvMendngSttus.json'
  /unrstExctvMendngSttus.xml:
    $ref: '#/components/pathItems/unrstExctvMendngSttus.xml'
  /wdCocobdIsDecsn.json:
    $ref: '#/components/pathItems/wdCocobdIsDecsn.json'
  /wdCocobdIsDecsn.xml:
    $ref: '#/components/pathItems/wdCocobdIsDecsn.xml'
  /xbrlTaxonomy.json:
    $ref: '#/components/pathItems/xbrlTaxonomy.json'
  /xbrlTaxonomy.xml:
    $ref: '#/components/pathItems/xbrlTaxonomy.xml'
components:
  securitySchemes:
    crtfcKey:
      type: apiKey
      in: query
      name: crtfc_key
      description: OpenDART에서 발급받은 40자리 API 인증키
      x-opendart-documented-type: STRING(40)
  schemas:
    OpenDartStatus:
      $ref: '#/components/schemas/OpenDartStatus__schemas'
    OpenDartXmlError:
      $ref: '#/components/schemas/OpenDartXmlError__schemas'
    DS001_2019003_Response:
      $ref: '#/components/schemas/2019003'
    DS001_2019018_Response:
      $ref: '#/components/schemas/2019018'
    DS003_2019019_Response:
      $ref: '#/components/schemas/2019019'
    OpenDartStatus__schemas:
      type: string
      enum:
        - "000"
        - "010"
        - "011"
        - "012"
        - "013"
        - "014"
        - "020"
        - "021"
        - "100"
        - "101"
        - "800"
        - "900"
        - "901"
      description: OpenDART API 수준 상태 코드입니다.
      x-opendart-code-descriptions:
        "100": 필드의 부적절한 값입니다. 필드 설명에 없는 값을 사용한 경우에 발생하는 메시지입니다.
        "101": 부적절한 접근입니다.
        "800": 시스템 점검으로 인한 서비스가 중지 중입니다.
        "900": 정의되지 않은 오류가 발생하였습니다.
        "901": 사용자 계정의 개인정보 보유기간이 만료되어 사용할 수 없는 키입니다. 관리자 이메일(opendart@fss.or.kr)로 문의하시기 바랍니다.
        "000": 정상
        "010": 등록되지 않은 키입니다.
        "011": 사용할 수 없는 키입니다. 오픈API에 등록되었으나, 일시적으로 사용 중지된 키를 통하여 검색하는 경우 발생합니다.
        "012": 접근할 수 없는 IP입니다.
        "013": 조회된 데이타가 없습니다.
        "014": 파일이 존재하지 않습니다.
        "020": |-
          요청 제한을 초과하였습니다.
          일반적으로는 20,000건 이상의 요청에 대하여 이 에러 메시지가 발생되나, 요청 제한이 다르게 설정된 경우에는 이에 준하여 발생됩니다.
        "021": 조회 가능한 회사 개수가 초과하였습니다.(최대 100건)
    OpenDartXmlError__schemas:
      type: object
      properties:
        status:
          $ref: "#/components/schemas/OpenDartStatus__schemas"
        message:
          type: string
      required:
        - status
        - message
      additionalProperties: true
      xml:
        nodeType: element
        name: result
      description: ZIP 다운로드 API에서 실측된 XML API 오류 응답입니다.
      x-opendart:
        schemaStatus: empirically-observed
        observation:
          observedAt: 2026-07-17
          requestCondition: invalid-40-character-api-key
          httpStatus: 200
          contentTypeHeader: application/xml;charset=UTF-8
          apiStatus: "010"
    "2019003":
      type: object
      properties:
        status:
          $ref: '#/components/schemas/OpenDartStatus__schemas'
        message:
          description: |-
            에러 및 정보 메시지

            (※메시지 설명 참조)
          x-opendart-documented-type: not-specified
          x-opendart-korean-name: 에러 및 정보 메시지
      additionalProperties: true
      xml:
        nodeType: element
        name: result
      description: 공식 OpenDART 가이드의 응답 결과 표를 정규화한 보수적 스키마입니다. 가이드가 필드 타입을 제공하지 않으므로 타입을 추정하지 않았습니다.
      x-opendart:
        schemaStatus: source-derived-unverified
        sourceRootKey: result
        diagnostics: []
        responseFields:
          - sourceIndex: 0
            key: result
            name: ""
            description: ""
            depth: 0
            sourceIndentClass: mgl05
            sourceIconClass: iconArrow
            sourceKind: container
          - sourceIndex: 1
            key: status
            name: 에러 및 정보 코드
            description: (※메시지 설명 참조)
            depth: 1
            sourceIndentClass: mgl20
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 2
            key: message
            name: 에러 및 정보 메시지
            description: (※메시지 설명 참조)
            depth: 1
            sourceIndentClass: mgl20
            sourceIconClass: iconFile
            sourceKind: field
    "2019018":
      type: object
      properties:
        status:
          $ref: '#/components/schemas/OpenDartStatus__schemas'
        message:
          description: |-
            에러 및 정보 메시지

            (※메시지 설명 참조)
          x-opendart-documented-type: not-specified
          x-opendart-korean-name: 에러 및 정보 메시지
        list:
          type: array
          items:
            type: object
            properties:
              corp_code:
                description: |-
                  고유번호

                  공시대상회사의 고유번호(8자리)
                  ※ ZIP File 안에 있는 XML파일 정보
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 고유번호
              corp_name:
                description: |-
                  정식명칭

                  정식회사명칭
                  ※ ZIP File 안에 있는 XML파일 정보
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 정식명칭
              corp_eng_name:
                description: |-
                  영문 정식명칭

                  영문정식회사명칭
                  ※ ZIP File 안에 있는 XML파일 정보
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 영문 정식명칭
              stock_code:
                description: |-
                  종목코드

                  상장회사인 경우 주식의 종목코드(6자리)
                  ※ ZIP File 안에 있는 XML파일 정보
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 종목코드
              modify_date:
                description: |-
                  최종변경일자

                  기업개황정보 최종변경일자(YYYYMMDD)
                  ※ ZIP File 안에 있는 XML파일 정보
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 최종변경일자
            additionalProperties: true
          description: 공식 가이드의 계층 표시를 바탕으로 배열 컨테이너로 정규화했습니다.
          x-opendart-normalization: source-derived-unverified
      additionalProperties: true
      xml:
        nodeType: element
        name: result
      description: 공식 OpenDART 가이드의 응답 결과 표를 정규화한 보수적 스키마입니다. 가이드가 필드 타입을 제공하지 않으므로 타입을 추정하지 않았습니다.
      x-opendart:
        schemaStatus: source-derived-unverified
        sourceRootKey: result
        diagnostics: []
        responseFields:
          - sourceIndex: 0
            key: result
            name: ""
            description: ""
            depth: 0
            sourceIndentClass: mgl05
            sourceIconClass: iconArrow
            sourceKind: container
          - sourceIndex: 1
            key: status
            name: 에러 및 정보 코드
            description: (※메시지 설명 참조)
            depth: 1
            sourceIndentClass: mgl20
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 2
            key: message
            name: 에러 및 정보 메시지
            description: (※메시지 설명 참조)
            depth: 1
            sourceIndentClass: mgl20
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 3
            key: list
            name: ""
            description: ""
            depth: 1
            sourceIndentClass: mgl20
            sourceIconClass: iconArrow
            sourceKind: container
          - sourceIndex: 4
            key: corp_code
            name: 고유번호
            description: |-
              공시대상회사의 고유번호(8자리)
              ※ ZIP File 안에 있는 XML파일 정보
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 5
            key: corp_name
            name: 정식명칭
            description: |-
              정식회사명칭
              ※ ZIP File 안에 있는 XML파일 정보
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 6
            key: corp_eng_name
            name: 영문 정식명칭
            description: |-
              영문정식회사명칭
              ※ ZIP File 안에 있는 XML파일 정보
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 7
            key: stock_code
            name: 종목코드
            description: |-
              상장회사인 경우 주식의 종목코드(6자리)
              ※ ZIP File 안에 있는 XML파일 정보
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 8
            key: modify_date
            name: 최종변경일자
            description: |-
              기업개황정보 최종변경일자(YYYYMMDD)
              ※ ZIP File 안에 있는 XML파일 정보
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
    "2019019":
      type: object
      properties:
        status:
          $ref: '#/components/schemas/OpenDartStatus__schemas'
        message:
          description: |-
            에러 및 정보 메시지

            (※메시지 설명 참조)
          x-opendart-documented-type: not-specified
          x-opendart-korean-name: 에러 및 정보 메시지
      additionalProperties: true
      xml:
        nodeType: element
        name: result
      description: 공식 OpenDART 가이드의 응답 결과 표를 정규화한 보수적 스키마입니다. 가이드가 필드 타입을 제공하지 않으므로 타입을 추정하지 않았습니다.
      x-opendart:
        schemaStatus: source-derived-unverified
        sourceRootKey: result
        diagnostics: []
        responseFields:
          - sourceIndex: 0
            key: result
            name: ""
            description: ""
            depth: 0
            sourceIndentClass: mgl05
            sourceIconClass: iconArrow
            sourceKind: container
          - sourceIndex: 1
            key: status
            name: 에러 및 정보 코드
            description: (※메시지 설명 참조)
            depth: 1
            sourceIndentClass: mgl20
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 2
            key: message
            name: 에러 및 정보 메시지
            description: (※메시지 설명 참조)
            depth: 1
            sourceIndentClass: mgl20
            sourceIconClass: iconFile
            sourceKind: field
    "2020009":
      type: object
      properties:
        status:
          $ref: '#/components/schemas/OpenDartStatus__schemas'
        message:
          description: |-
            에러 및 정보 메시지

            (※메시지 설명 참조)
          x-opendart-documented-type: not-specified
          x-opendart-korean-name: 에러 및 정보 메시지
        list:
          type: array
          items:
            type: object
            properties:
              rcept_no:
                description: |-
                  접수번호

                  접수번호(14자리)

                  ※ 공시뷰어 연결에 이용예시
                  - PC용 : https://dart.fss.or.kr/dsaf001/main.do?rcpNo=접수번호
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 접수번호
              corp_cls:
                description: |-
                  법인구분

                  법인구분 : Y(유가), K(코스닥), N(코넥스), E(기타)
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 법인구분
              corp_code:
                description: |-
                  고유번호

                  공시대상회사의 고유번호(8자리)
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 고유번호
              corp_name:
                description: |-
                  회사명

                  공시대상회사명
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 회사명
              bsns_year:
                description: |-
                  사업연도

                  사업연도(당기, 전기, 전전기)
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 사업연도
              adtor:
                description: 감사인
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 감사인
              adt_opinion:
                description: 감사의견
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 감사의견
              adt_reprt_spcmnt_matter:
                description: |-
                  감사보고서 특기사항

                  감사보고서 특기사항
                  ① 2019년 12월 8일까지 사용됨
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 감사보고서 특기사항
              emphs_matter:
                description: |-
                  강조사항 등

                  강조사항 등
                  ② 2019년 12월 9일부터 추가됨
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 강조사항 등
              core_adt_matter:
                description: |-
                  핵심감사사항

                  핵심감사사항
                  ② 2019년 12월 9일부터 추가됨
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 핵심감사사항
              stlm_dt:
                description: |-
                  결산기준일

                  YYYY-MM-DD
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 결산기준일
            additionalProperties: true
          description: 공식 가이드의 계층 표시를 바탕으로 배열 컨테이너로 정규화했습니다.
          x-opendart-normalization: source-derived-unverified
      additionalProperties: true
      xml:
        nodeType: element
        name: result
      description: 공식 OpenDART 가이드의 응답 결과 표를 정규화한 보수적 스키마입니다. 가이드가 필드 타입을 제공하지 않으므로 타입을 추정하지 않았습니다.
      x-opendart:
        schemaStatus: source-derived-unverified
        sourceRootKey: result
        diagnostics: []
        responseFields:
          - sourceIndex: 0
            key: result
            name: ""
            description: ""
            depth: 0
            sourceIndentClass: mgl05
            sourceIconClass: iconArrow
            sourceKind: container
          - sourceIndex: 1
            key: status
            name: 에러 및 정보 코드
            description: (※메시지 설명 참조)
            depth: 1
            sourceIndentClass: mgl20
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 2
            key: message
            name: 에러 및 정보 메시지
            description: (※메시지 설명 참조)
            depth: 1
            sourceIndentClass: mgl20
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 3
            key: list
            name: ""
            description: ""
            depth: 1
            sourceIndentClass: mgl20
            sourceIconClass: iconArrow
            sourceKind: container
          - sourceIndex: 4
            key: rcept_no
            name: 접수번호
            description: |-
              접수번호(14자리)

              ※ 공시뷰어 연결에 이용예시
              - PC용 : https://dart.fss.or.kr/dsaf001/main.do?rcpNo=접수번호
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 5
            key: corp_cls
            name: 법인구분
            description: "법인구분 : Y(유가), K(코스닥), N(코넥스), E(기타)"
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 6
            key: corp_code
            name: 고유번호
            description: 공시대상회사의 고유번호(8자리)
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 7
            key: corp_name
            name: 회사명
            description: 공시대상회사명
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 8
            key: bsns_year
            name: 사업연도
            description: 사업연도(당기, 전기, 전전기)
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 9
            key: adtor
            name: 감사인
            description: 감사인
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 10
            key: adt_opinion
            name: 감사의견
            description: 감사의견
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 11
            key: adt_reprt_spcmnt_matter
            name: 감사보고서 특기사항
            description: |-
              감사보고서 특기사항
              ① 2019년 12월 8일까지 사용됨
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 12
            key: emphs_matter
            name: 강조사항 등
            description: |-
              강조사항 등
              ② 2019년 12월 9일부터 추가됨
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 13
            key: core_adt_matter
            name: 핵심감사사항
            description: |-
              핵심감사사항
              ② 2019년 12월 9일부터 추가됨
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 14
            key: stlm_dt
            name: 결산기준일
            description: YYYY-MM-DD
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
    "2020011":
      type: object
      properties:
        status:
          $ref: '#/components/schemas/OpenDartStatus__schemas'
        message:
          description: |-
            에러 및 정보 메시지

            (※메시지 설명 참조)
          x-opendart-documented-type: not-specified
          x-opendart-korean-name: 에러 및 정보 메시지
        list:
          type: array
          items:
            type: object
            properties:
              rcept_no:
                description: |-
                  접수번호

                  접수번호(14자리)

                  ※ 공시뷰어 연결에 이용예시
                  - PC용 : https://dart.fss.or.kr/dsaf001/main.do?rcpNo=접수번호
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 접수번호
              corp_cls:
                description: |-
                  법인구분

                  법인구분 : Y(유가), K(코스닥), N(코넥스), E(기타)
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 법인구분
              corp_code:
                description: |-
                  고유번호

                  공시대상회사의 고유번호(8자리)
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 고유번호
              corp_name:
                description: |-
                  회사명

                  공시대상회사명
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 회사명
              bsns_year:
                description: |-
                  사업연도

                  사업연도(당기, 전기, 전전기)
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 사업연도
              cntrct_cncls_de:
                description: 계약체결일
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 계약체결일
              servc_cn:
                description: 용역내용
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 용역내용
              servc_exc_pd:
                description: 용역수행기간
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 용역수행기간
              servc_mendng:
                description: 용역보수
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 용역보수
              rm:
                description: 비고
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 비고
              stlm_dt:
                description: |-
                  결산기준일

                  YYYY-MM-DD
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 결산기준일
            additionalProperties: true
          description: 공식 가이드의 계층 표시를 바탕으로 배열 컨테이너로 정규화했습니다.
          x-opendart-normalization: source-derived-unverified
      additionalProperties: true
      xml:
        nodeType: element
        name: result
      description: 공식 OpenDART 가이드의 응답 결과 표를 정규화한 보수적 스키마입니다. 가이드가 필드 타입을 제공하지 않으므로 타입을 추정하지 않았습니다.
      x-opendart:
        schemaStatus: source-derived-unverified
        sourceRootKey: result
        diagnostics: []
        responseFields:
          - sourceIndex: 0
            key: result
            name: ""
            description: ""
            depth: 0
            sourceIndentClass: mgl05
            sourceIconClass: iconArrow
            sourceKind: container
          - sourceIndex: 1
            key: status
            name: 에러 및 정보 코드
            description: (※메시지 설명 참조)
            depth: 1
            sourceIndentClass: mgl20
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 2
            key: message
            name: 에러 및 정보 메시지
            description: (※메시지 설명 참조)
            depth: 1
            sourceIndentClass: mgl20
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 3
            key: list
            name: ""
            description: ""
            depth: 1
            sourceIndentClass: mgl20
            sourceIconClass: iconArrow
            sourceKind: container
          - sourceIndex: 4
            key: rcept_no
            name: 접수번호
            description: |-
              접수번호(14자리)

              ※ 공시뷰어 연결에 이용예시
              - PC용 : https://dart.fss.or.kr/dsaf001/main.do?rcpNo=접수번호
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 5
            key: corp_cls
            name: 법인구분
            description: "법인구분 : Y(유가), K(코스닥), N(코넥스), E(기타)"
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 6
            key: corp_code
            name: 고유번호
            description: 공시대상회사의 고유번호(8자리)
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 7
            key: corp_name
            name: 회사명
            description: 공시대상회사명
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 8
            key: bsns_year
            name: 사업연도
            description: 사업연도(당기, 전기, 전전기)
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 9
            key: cntrct_cncls_de
            name: 계약체결일
            description: 계약체결일
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 10
            key: servc_cn
            name: 용역내용
            description: 용역내용
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 11
            key: servc_exc_pd
            name: 용역수행기간
            description: 용역수행기간
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 12
            key: servc_mendng
            name: 용역보수
            description: 용역보수
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 13
            key: rm
            name: 비고
            description: 비고
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 14
            key: stlm_dt
            name: 결산기준일
            description: YYYY-MM-DD
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
    "2020010":
      type: object
      properties:
        status:
          $ref: '#/components/schemas/OpenDartStatus__schemas'
        message:
          description: |-
            에러 및 정보 메시지

            (※메시지 설명 참조)
          x-opendart-documented-type: not-specified
          x-opendart-korean-name: 에러 및 정보 메시지
        list:
          type: array
          items:
            type: object
            properties:
              rcept_no:
                description: |-
                  접수번호

                  접수번호(14자리)

                  ※ 공시뷰어 연결에 이용예시
                  - PC용 : https://dart.fss.or.kr/dsaf001/main.do?rcpNo=접수번호
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 접수번호
              corp_cls:
                description: |-
                  법인구분

                  법인구분 : Y(유가), K(코스닥), N(코넥스), E(기타)
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 법인구분
              corp_code:
                description: |-
                  고유번호

                  공시대상회사의 고유번호(8자리)
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 고유번호
              corp_name:
                description: |-
                  회사명

                  공시대상회사명
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 회사명
              bsns_year:
                description: |-
                  사업연도

                  사업연도(당기, 전기, 전전기)
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 사업연도
              adtor:
                description: 감사인
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 감사인
              cn:
                description: 내용
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 내용
              mendng:
                description: |-
                  보수

                  보수
                  ① 2020년 7월 5일까지 사용됨
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 보수
              tot_reqre_time:
                description: |-
                  총소요시간

                  총소요시간
                  ① 2020년 7월 5일까지 사용됨
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 총소요시간
              adt_cntrct_dtls_mendng:
                description: |-
                  감사계약내역(보수)

                  감사계약내역(보수)
                  ② 2020년 7월 6일부터 추가됨
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 감사계약내역(보수)
              adt_cntrct_dtls_time:
                description: |-
                  감사계약내역(시간)

                  감사계약내역(시간)
                  ② 2020년 7월 6일부터 추가됨
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 감사계약내역(시간)
              real_exc_dtls_mendng:
                description: |-
                  실제수행내역(보수)

                  실제수행내역(보수)
                  ② 2020년 7월 6일부터 추가됨
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 실제수행내역(보수)
              real_exc_dtls_time:
                description: |-
                  실제수행내역(시간)

                  실제수행내역(시간)
                  ② 2020년 7월 6일부터 추가됨
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 실제수행내역(시간)
              stlm_dt:
                description: |-
                  결산기준일

                  YYYY-MM-DD
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 결산기준일
            additionalProperties: true
          description: 공식 가이드의 계층 표시를 바탕으로 배열 컨테이너로 정규화했습니다.
          x-opendart-normalization: source-derived-unverified
      additionalProperties: true
      xml:
        nodeType: element
        name: result
      description: 공식 OpenDART 가이드의 응답 결과 표를 정규화한 보수적 스키마입니다. 가이드가 필드 타입을 제공하지 않으므로 타입을 추정하지 않았습니다.
      x-opendart:
        schemaStatus: source-derived-unverified
        sourceRootKey: result
        diagnostics: []
        responseFields:
          - sourceIndex: 0
            key: result
            name: ""
            description: ""
            depth: 0
            sourceIndentClass: mgl05
            sourceIconClass: iconArrow
            sourceKind: container
          - sourceIndex: 1
            key: status
            name: 에러 및 정보 코드
            description: (※메시지 설명 참조)
            depth: 1
            sourceIndentClass: mgl20
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 2
            key: message
            name: 에러 및 정보 메시지
            description: (※메시지 설명 참조)
            depth: 1
            sourceIndentClass: mgl20
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 3
            key: list
            name: ""
            description: ""
            depth: 1
            sourceIndentClass: mgl20
            sourceIconClass: iconArrow
            sourceKind: container
          - sourceIndex: 4
            key: rcept_no
            name: 접수번호
            description: |-
              접수번호(14자리)

              ※ 공시뷰어 연결에 이용예시
              - PC용 : https://dart.fss.or.kr/dsaf001/main.do?rcpNo=접수번호
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 5
            key: corp_cls
            name: 법인구분
            description: "법인구분 : Y(유가), K(코스닥), N(코넥스), E(기타)"
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 6
            key: corp_code
            name: 고유번호
            description: 공시대상회사의 고유번호(8자리)
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 7
            key: corp_name
            name: 회사명
            description: 공시대상회사명
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 8
            key: bsns_year
            name: 사업연도
            description: 사업연도(당기, 전기, 전전기)
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 9
            key: adtor
            name: 감사인
            description: 감사인
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 10
            key: cn
            name: 내용
            description: 내용
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 11
            key: mendng
            name: 보수
            description: |-
              보수
              ① 2020년 7월 5일까지 사용됨
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 12
            key: tot_reqre_time
            name: 총소요시간
            description: |-
              총소요시간
              ① 2020년 7월 5일까지 사용됨
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 13
            key: adt_cntrct_dtls_mendng
            name: 감사계약내역(보수)
            description: |-
              감사계약내역(보수)
              ② 2020년 7월 6일부터 추가됨
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 14
            key: adt_cntrct_dtls_time
            name: 감사계약내역(시간)
            description: |-
              감사계약내역(시간)
              ② 2020년 7월 6일부터 추가됨
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 15
            key: real_exc_dtls_mendng
            name: 실제수행내역(보수)
            description: |-
              실제수행내역(보수)
              ② 2020년 7월 6일부터 추가됨
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 16
            key: real_exc_dtls_time
            name: 실제수행내역(시간)
            description: |-
              실제수행내역(시간)
              ② 2020년 7월 6일부터 추가됨
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 17
            key: stlm_dt
            name: 결산기준일
            description: YYYY-MM-DD
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
    "2019005":
      type: object
      properties:
        status:
          $ref: '#/components/schemas/OpenDartStatus__schemas'
        message:
          description: |-
            에러 및 정보 메시지

            (※메시지 설명 참조)
          x-opendart-documented-type: not-specified
          x-opendart-korean-name: 에러 및 정보 메시지
        list:
          type: array
          items:
            type: object
            properties:
              rcept_no:
                description: |-
                  접수번호

                  접수번호(14자리)

                  ※ 공시뷰어 연결에 이용예시
                  - PC용 : https://dart.fss.or.kr/dsaf001/main.do?rcpNo=접수번호
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 접수번호
              corp_cls:
                description: |-
                  법인구분

                  법인구분 : Y(유가), K(코스닥), N(코넥스), E(기타)
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 법인구분
              corp_code:
                description: |-
                  고유번호

                  공시대상회사의 고유번호(8자리)
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 고유번호
              corp_name:
                description: 법인명
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 법인명
              se:
                description: |-
                  구분

                  유상증자(주주배정), 전환권행사 등
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 구분
              stock_knd:
                description: |-
                  주식 종류

                  보통주 등
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 주식 종류
              thstrm:
                description: |-
                  당기

                  9,999,999,999
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 당기
              frmtrm:
                description: |-
                  전기

                  9,999,999,999
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 전기
              lwfr:
                description: |-
                  전전기

                  9,999,999,999
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 전전기
              stlm_dt:
                description: |-
                  결산기준일

                  YYYY-MM-DD
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 결산기준일
            additionalProperties: true
          description: 공식 가이드의 계층 표시를 바탕으로 배열 컨테이너로 정규화했습니다.
          x-opendart-normalization: source-derived-unverified
      additionalProperties: true
      xml:
        nodeType: element
        name: result
      description: 공식 OpenDART 가이드의 응답 결과 표를 정규화한 보수적 스키마입니다. 가이드가 필드 타입을 제공하지 않으므로 타입을 추정하지 않았습니다.
      x-opendart:
        schemaStatus: source-derived-unverified
        sourceRootKey: result
        diagnostics: []
        responseFields:
          - sourceIndex: 0
            key: result
            name: ""
            description: ""
            depth: 0
            sourceIndentClass: mgl05
            sourceIconClass: iconArrow
            sourceKind: container
          - sourceIndex: 1
            key: status
            name: 에러 및 정보 코드
            description: (※메시지 설명 참조)
            depth: 1
            sourceIndentClass: mgl20
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 2
            key: message
            name: 에러 및 정보 메시지
            description: (※메시지 설명 참조)
            depth: 1
            sourceIndentClass: mgl20
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 3
            key: list
            name: ""
            description: ""
            depth: 1
            sourceIndentClass: mgl20
            sourceIconClass: iconArrow
            sourceKind: container
          - sourceIndex: 4
            key: rcept_no
            name: 접수번호
            description: |-
              접수번호(14자리)

              ※ 공시뷰어 연결에 이용예시
              - PC용 : https://dart.fss.or.kr/dsaf001/main.do?rcpNo=접수번호
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 5
            key: corp_cls
            name: 법인구분
            description: "법인구분 : Y(유가), K(코스닥), N(코넥스), E(기타)"
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 6
            key: corp_code
            name: 고유번호
            description: 공시대상회사의 고유번호(8자리)
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 7
            key: corp_name
            name: 법인명
            description: 법인명
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 8
            key: se
            name: 구분
            description: 유상증자(주주배정), 전환권행사 등
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 9
            key: stock_knd
            name: 주식 종류
            description: 보통주 등
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 10
            key: thstrm
            name: 당기
            description: 9,999,999,999
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 11
            key: frmtrm
            name: 전기
            description: 9,999,999,999
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 12
            key: lwfr
            name: 전전기
            description: 9,999,999,999
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 13
            key: stlm_dt
            name: 결산기준일
            description: YYYY-MM-DD
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
    "2020018":
      type: object
      properties:
        status:
          $ref: '#/components/schemas/OpenDartStatus__schemas'
        message:
          description: |-
            에러 및 정보 메시지

            (※메시지 설명 참조)
          x-opendart-documented-type: not-specified
          x-opendart-korean-name: 에러 및 정보 메시지
        list:
          type: array
          items:
            type: object
            properties:
              rcept_no:
                description: |-
                  접수번호

                  접수번호(14자리)

                  ※ 공시뷰어 연결에 이용예시
                  - PC용 : https://dart.fss.or.kr/dsaf001/main.do?rcpNo=접수번호
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 접수번호
              corp_cls:
                description: |-
                  법인구분

                  법인구분 : Y(유가), K(코스닥), N(코넥스), E(기타)
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 법인구분
              corp_code:
                description: |-
                  고유번호

                  공시대상회사의 고유번호(8자리)
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 고유번호
              corp_name:
                description: |-
                  회사명

                  공시대상회사명
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 회사명
              rp_rsn:
                description: 보고 사유
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 보고 사유
              ast_inhtrf_prc:
                description: |-
                  자산양수ㆍ도 가액

                  9,999,999,999
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 자산양수ㆍ도 가액
            additionalProperties: true
          description: 공식 가이드의 계층 표시를 바탕으로 배열 컨테이너로 정규화했습니다.
          x-opendart-normalization: source-derived-unverified
      additionalProperties: true
      xml:
        nodeType: element
        name: result
      description: 공식 OpenDART 가이드의 응답 결과 표를 정규화한 보수적 스키마입니다. 가이드가 필드 타입을 제공하지 않으므로 타입을 추정하지 않았습니다.
      x-opendart:
        schemaStatus: source-derived-unverified
        sourceRootKey: result
        diagnostics: []
        responseFields:
          - sourceIndex: 0
            key: result
            name: ""
            description: ""
            depth: 0
            sourceIndentClass: mgl05
            sourceIconClass: iconArrow
            sourceKind: container
          - sourceIndex: 1
            key: status
            name: 에러 및 정보 코드
            description: (※메시지 설명 참조)
            depth: 1
            sourceIndentClass: mgl20
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 2
            key: message
            name: 에러 및 정보 메시지
            description: (※메시지 설명 참조)
            depth: 1
            sourceIndentClass: mgl20
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 3
            key: list
            name: list
            description: 리스트 구분
            depth: 1
            sourceIndentClass: mgl20
            sourceIconClass: iconArrow
            sourceKind: container
          - sourceIndex: 4
            key: rcept_no
            name: 접수번호
            description: |-
              접수번호(14자리)

              ※ 공시뷰어 연결에 이용예시
              - PC용 : https://dart.fss.or.kr/dsaf001/main.do?rcpNo=접수번호
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 5
            key: corp_cls
            name: 법인구분
            description: "법인구분 : Y(유가), K(코스닥), N(코넥스), E(기타)"
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 6
            key: corp_code
            name: 고유번호
            description: 공시대상회사의 고유번호(8자리)
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 7
            key: corp_name
            name: 회사명
            description: 공시대상회사명
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 8
            key: rp_rsn
            name: 보고 사유
            description: 보고 사유
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 9
            key: ast_inhtrf_prc
            name: 자산양수ㆍ도 가액
            description: 9,999,999,999
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
    "2020055":
      type: object
      properties:
        status:
          $ref: '#/components/schemas/OpenDartStatus__schemas'
        message:
          description: |-
            에러 및 정보 메시지

            (※메시지 설명 참조)
          x-opendart-documented-type: not-specified
          x-opendart-korean-name: 에러 및 정보 메시지
        group:
          type: array
          items:
            type: object
            properties:
              title:
                description: |-
                  그룹명칭

                  일반사항

                  그룹명칭

                  인수인정보

                  그룹명칭

                  자금의사용목적

                  그룹명칭

                  매출인에관한사항
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 그룹명칭
              list:
                type: array
                items:
                  type: object
                  properties:
                    rcept_no:
                      description: |-
                        접수번호

                        접수번호(14자리)

                        ※ 공시뷰어 연결에 이용예시
                        - PC용 : https://dart.fss.or.kr/dsaf001/main.do?rcpNo=접수번호
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 접수번호
                    corp_cls:
                      description: |-
                        법인구분

                        법인구분 : Y(유가), K(코스닥), N(코넥스), E(기타)
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 법인구분
                    corp_code:
                      description: |-
                        고유번호

                        공시대상회사의 고유번호(8자리)
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 고유번호
                    corp_name:
                      description: |-
                        회사명

                        공시대상회사명
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 회사명
                    tm:
                      description: 회차
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 회차
                    bdnmn:
                      description: 채무증권 명칭
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 채무증권 명칭
                    slmth:
                      description: 모집(매출)방법
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 모집(매출)방법
                    fta:
                      description: |-
                        권면(전자등록)총액

                        9,999,999,999
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 권면(전자등록)총액
                    slta:
                      description: |-
                        모집(매출)총액

                        9,999,999,999
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 모집(매출)총액
                    isprc:
                      description: |-
                        발행가액

                        9,999,999,999
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 발행가액
                    intr:
                      description: 이자율
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 이자율
                    isrr:
                      description: 발행수익률
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 발행수익률
                    rpd:
                      description: 상환기일
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 상환기일
                    print_pymint:
                      description: 원리금지급대행기관
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 원리금지급대행기관
                    mngt_cmp:
                      description: (사채)관리회사
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: (사채)관리회사
                    cdrt_int:
                      description: 신용등급(신용평가기관)
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 신용등급(신용평가기관)
                    sbd:
                      description: 청약기일
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 청약기일
                    pymd:
                      description: 납입기일
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 납입기일
                    sband:
                      description: 청약공고일
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 청약공고일
                    asand:
                      description: 배정공고일
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 배정공고일
                    asstd:
                      description: 배정기준일
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 배정기준일
                    dpcrn:
                      description: 표시통화
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 표시통화
                    dpcr_amt:
                      description: 표시통화기준발행규모
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 표시통화기준발행규모
                    usarn:
                      description: 사용지역
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 사용지역
                    usntn:
                      description: 사용국가
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 사용국가
                    wnexpl_at:
                      description: 원화 교환 예정 여부
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 원화 교환 예정 여부
                    udtintnm:
                      description: 인수기관명
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 인수기관명
                    grt_int:
                      description: 보증을 받은 경우(보증기관)
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 보증을 받은 경우(보증기관)
                    grt_amt:
                      description: |-
                        보증을 받은 경우(보증금액)

                        9,999,999,999
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 보증을 받은 경우(보증금액)
                    icmg_mgknd:
                      description: 담보 제공의 경우(담보의 종류)
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 담보 제공의 경우(담보의 종류)
                    icmg_mgamt:
                      description: |-
                        담보 제공의 경우(담보금액)

                        9,999,999,999
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 담보 제공의 경우(담보금액)
                    estk_exstk:
                      description: 지분증권과 연계된 경우(행사대상증권)
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 지분증권과 연계된 경우(행사대상증권)
                    estk_exrt:
                      description: 지분증권과 연계된 경우(권리행사비율)
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 지분증권과 연계된 경우(권리행사비율)
                    estk_exprc:
                      description: |-
                        지분증권과 연계된 경우(권리행사가격)

                        9,999,999,999
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 지분증권과 연계된 경우(권리행사가격)
                    estk_expd:
                      description: 지분증권과 연계된 경우(권리행사기간)
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 지분증권과 연계된 경우(권리행사기간)
                    rpt_rcpn:
                      description: 주요사항보고서(접수번호)
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 주요사항보고서(접수번호)
                    drcb_at:
                      description: 파생결합사채해당여부
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 파생결합사채해당여부
                    drcb_uast:
                      description: 파생결합사채(기초자산)
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 파생결합사채(기초자산)
                    drcb_optknd:
                      description: 파생결합사채(옵션종류)
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 파생결합사채(옵션종류)
                    drcb_mtd:
                      description: 파생결합사채(만기일)
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 파생결합사채(만기일)
                    actsen:
                      description: 인수인구분
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 인수인구분
                    actnmn:
                      description: 인수인명
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 인수인명
                    stksen:
                      description: 증권의종류
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 증권의종류
                    udtcnt:
                      description: |-
                        인수수량

                        9,999,999,999
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 인수수량
                    udtamt:
                      description: |-
                        인수금액

                        9,999,999,999
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 인수금액
                    udtprc:
                      description: 인수대가
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 인수대가
                    udtmth:
                      description: 인수방법
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 인수방법
                    se:
                      description: 구분
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 구분
                    amt:
                      description: |-
                        금액

                        9,999,999,999
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 금액
                    hdr:
                      description: 보유자
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 보유자
                    rl_cmp:
                      description: 회사와의관계
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 회사와의관계
                    bfsl_hdstk:
                      description: |-
                        매출전보유증권수

                        9,999,999,999
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 매출전보유증권수
                    slstk:
                      description: |-
                        매출증권수

                        9,999,999,999
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 매출증권수
                    atsl_hdstk:
                      description: |-
                        매출후보유증권수

                        9,999,999,999
                      x-opendart-documented-type: not-specified
                      x-opendart-korean-name: 매출후보유증권수
                  additionalProperties: true
                description: 공식 가이드의 계층 표시를 바탕으로 배열 컨테이너로 정규화했습니다.
                x-opendart-normalization: source-derived-unverified
            additionalProperties: true
          description: 공식 가이드의 계층 표시를 바탕으로 배열 컨테이너로 정규화했습니다.
          x-opendart-normalization: source-derived-unverified
      additionalProperties: true
      xml:
        nodeType: element
        name: result
      description: 공식 OpenDART 가이드의 응답 결과 표를 정규화한 보수적 스키마입니다. 가이드가 필드 타입을 제공하지 않으므로 타입을 추정하지 않았습니다.
      x-opendart:
        schemaStatus: source-derived-unverified
        sourceRootKey: result
        diagnostics: []
        responseFields:
          - sourceIndex: 0
            key: result
            name: ""
            description: ""
            depth: 0
            sourceIndentClass: mgl05
            sourceIconClass: iconArrow
            sourceKind: container
          - sourceIndex: 1
            key: status
            name: 에러 및 정보 코드
            description: (※메시지 설명 참조)
            depth: 1
            sourceIndentClass: mgl20
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 2
            key: message
            name: 에러 및 정보 메시지
            description: (※메시지 설명 참조)
            depth: 1
            sourceIndentClass: mgl20
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 3
            key: group
            name: ""
            description: ""
            depth: 1
            sourceIndentClass: mgl20
            sourceIconClass: iconArrow
            sourceKind: container
          - sourceIndex: 4
            key: title
            name: 그룹명칭
            description: 일반사항
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 5
            key: list
            name: ""
            description: ""
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconArrow
            sourceKind: container
          - sourceIndex: 6
            key: rcept_no
            name: 접수번호
            description: |-
              접수번호(14자리)

              ※ 공시뷰어 연결에 이용예시
              - PC용 : https://dart.fss.or.kr/dsaf001/main.do?rcpNo=접수번호
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 7
            key: corp_cls
            name: 법인구분
            description: "법인구분 : Y(유가), K(코스닥), N(코넥스), E(기타)"
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 8
            key: corp_code
            name: 고유번호
            description: 공시대상회사의 고유번호(8자리)
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 9
            key: corp_name
            name: 회사명
            description: 공시대상회사명
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 10
            key: tm
            name: 회차
            description: 회차
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 11
            key: bdnmn
            name: 채무증권 명칭
            description: 채무증권 명칭
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 12
            key: slmth
            name: 모집(매출)방법
            description: 모집(매출)방법
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 13
            key: fta
            name: 권면(전자등록)총액
            description: 9,999,999,999
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 14
            key: slta
            name: 모집(매출)총액
            description: 9,999,999,999
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 15
            key: isprc
            name: 발행가액
            description: 9,999,999,999
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 16
            key: intr
            name: 이자율
            description: 이자율
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 17
            key: isrr
            name: 발행수익률
            description: 발행수익률
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 18
            key: rpd
            name: 상환기일
            description: 상환기일
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 19
            key: print_pymint
            name: 원리금지급대행기관
            description: 원리금지급대행기관
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 20
            key: mngt_cmp
            name: (사채)관리회사
            description: (사채)관리회사
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 21
            key: cdrt_int
            name: 신용등급(신용평가기관)
            description: 신용등급(신용평가기관)
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 22
            key: sbd
            name: 청약기일
            description: 청약기일
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 23
            key: pymd
            name: 납입기일
            description: 납입기일
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 24
            key: sband
            name: 청약공고일
            description: 청약공고일
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 25
            key: asand
            name: 배정공고일
            description: 배정공고일
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 26
            key: asstd
            name: 배정기준일
            description: 배정기준일
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 27
            key: dpcrn
            name: 표시통화
            description: 표시통화
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 28
            key: dpcr_amt
            name: 표시통화기준발행규모
            description: 표시통화기준발행규모
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 29
            key: usarn
            name: 사용지역
            description: 사용지역
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 30
            key: usntn
            name: 사용국가
            description: 사용국가
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 31
            key: wnexpl_at
            name: 원화 교환 예정 여부
            description: 원화 교환 예정 여부
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 32
            key: udtintnm
            name: 인수기관명
            description: 인수기관명
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 33
            key: grt_int
            name: 보증을 받은 경우(보증기관)
            description: 보증을 받은 경우(보증기관)
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 34
            key: grt_amt
            name: 보증을 받은 경우(보증금액)
            description: 9,999,999,999
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 35
            key: icmg_mgknd
            name: 담보 제공의 경우(담보의 종류)
            description: 담보 제공의 경우(담보의 종류)
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 36
            key: icmg_mgamt
            name: 담보 제공의 경우(담보금액)
            description: 9,999,999,999
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 37
            key: estk_exstk
            name: 지분증권과 연계된 경우(행사대상증권)
            description: 지분증권과 연계된 경우(행사대상증권)
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 38
            key: estk_exrt
            name: 지분증권과 연계된 경우(권리행사비율)
            description: 지분증권과 연계된 경우(권리행사비율)
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 39
            key: estk_exprc
            name: 지분증권과 연계된 경우(권리행사가격)
            description: 9,999,999,999
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 40
            key: estk_expd
            name: 지분증권과 연계된 경우(권리행사기간)
            description: 지분증권과 연계된 경우(권리행사기간)
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 41
            key: rpt_rcpn
            name: 주요사항보고서(접수번호)
            description: 주요사항보고서(접수번호)
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 42
            key: drcb_at
            name: 파생결합사채해당여부
            description: 파생결합사채해당여부
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 43
            key: drcb_uast
            name: 파생결합사채(기초자산)
            description: 파생결합사채(기초자산)
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 44
            key: drcb_optknd
            name: 파생결합사채(옵션종류)
            description: 파생결합사채(옵션종류)
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 45
            key: drcb_mtd
            name: 파생결합사채(만기일)
            description: 파생결합사채(만기일)
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 46
            key: group
            name: ""
            description: ""
            depth: 1
            sourceIndentClass: mgl20
            sourceIconClass: iconArrow
            sourceKind: container
          - sourceIndex: 47
            key: title
            name: 그룹명칭
            description: 인수인정보
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 48
            key: list
            name: ""
            description: ""
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconArrow
            sourceKind: container
          - sourceIndex: 49
            key: rcept_no
            name: 접수번호
            description: |-
              접수번호(14자리)

              ※ 공시뷰어 연결에 이용예시
              - PC용 : https://dart.fss.or.kr/dsaf001/main.do?rcpNo=접수번호
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 50
            key: corp_cls
            name: 법인구분
            description: "법인구분 : Y(유가), K(코스닥), N(코넥스), E(기타)"
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 51
            key: corp_code
            name: 고유번호
            description: 공시대상회사의 고유번호(8자리)
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 52
            key: corp_name
            name: 회사명
            description: 공시대상회사명
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 53
            key: tm
            name: 회차
            description: 회차
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 54
            key: actsen
            name: 인수인구분
            description: 인수인구분
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 55
            key: actnmn
            name: 인수인명
            description: 인수인명
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 56
            key: stksen
            name: 증권의종류
            description: 증권의종류
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 57
            key: udtcnt
            name: 인수수량
            description: 9,999,999,999
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 58
            key: udtamt
            name: 인수금액
            description: 9,999,999,999
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 59
            key: udtprc
            name: 인수대가
            description: 인수대가
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 60
            key: udtmth
            name: 인수방법
            description: 인수방법
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 61
            key: group
            name: ""
            description: ""
            depth: 1
            sourceIndentClass: mgl20
            sourceIconClass: iconArrow
            sourceKind: container
          - sourceIndex: 62
            key: title
            name: 그룹명칭
            description: 자금의사용목적
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 63
            key: list
            name: ""
            description: ""
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconArrow
            sourceKind: container
          - sourceIndex: 64
            key: rcept_no
            name: 접수번호
            description: |-
              접수번호(14자리)

              ※ 공시뷰어 연결에 이용예시
              - PC용 : https://dart.fss.or.kr/dsaf001/main.do?rcpNo=접수번호
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 65
            key: corp_cls
            name: 법인구분
            description: "법인구분 : Y(유가), K(코스닥), N(코넥스), E(기타)"
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 66
            key: corp_code
            name: 고유번호
            description: 공시대상회사의 고유번호(8자리)
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 67
            key: corp_name
            name: 회사명
            description: 공시대상회사명
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 68
            key: tm
            name: 회차
            description: 회차
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 69
            key: se
            name: 구분
            description: 구분
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 70
            key: amt
            name: 금액
            description: 9,999,999,999
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 71
            key: group
            name: ""
            description: ""
            depth: 1
            sourceIndentClass: mgl20
            sourceIconClass: iconArrow
            sourceKind: container
          - sourceIndex: 72
            key: title
            name: 그룹명칭
            description: 매출인에관한사항
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 73
            key: list
            name: ""
            description: ""
            depth: 2
            sourceIndentClass: mgl40
            sourceIconClass: iconArrow
            sourceKind: container
          - sourceIndex: 74
            key: rcept_no
            name: 접수번호
            description: |-
              접수번호(14자리)

              ※ 공시뷰어 연결에 이용예시
              - PC용 : https://dart.fss.or.kr/dsaf001/main.do?rcpNo=접수번호
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 75
            key: corp_cls
            name: 법인구분
            description: "법인구분 : Y(유가), K(코스닥), N(코넥스), E(기타)"
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 76
            key: corp_code
            name: 고유번호
            description: 공시대상회사의 고유번호(8자리)
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 77
            key: corp_name
            name: 회사명
            description: 공시대상회사명
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 78
            key: tm
            name: 회차
            description: 회차
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 79
            key: hdr
            name: 보유자
            description: 보유자
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 80
            key: rl_cmp
            name: 회사와의관계
            description: 회사와의관계
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 81
            key: bfsl_hdstk
            name: 매출전보유증권수
            description: 9,999,999,999
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 82
            key: slstk
            name: 매출증권수
            description: 9,999,999,999
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
          - sourceIndex: 83
            key: atsl_hdstk
            name: 매출후보유증권수
            description: 9,999,999,999
            depth: 3
            sourceIndentClass: mgl60
            sourceIconClass: iconFile
            sourceKind: field
    "2020034":
      type: object
      properties:
        status:
          $ref: '#/components/schemas/OpenDartStatus__schemas'
        message:
          description: |-
            에러 및 정보 메시지

            (※메시지 설명 참조)
          x-opendart-documented-type: not-specified
          x-opendart-korean-name: 에러 및 정보 메시지
        list:
          type: array
          items:
            type: object
            properties:
              rcept_no:
                description: |-
                  접수번호

                  접수번호(14자리)

                  ※ 공시뷰어 연결에 이용예시
                  - PC용 : https://dart.fss.or.kr/dsaf001/main.do?rcpNo=접수번호
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 접수번호
              corp_cls:
                description: |-
                  법인구분

                  법인구분 : Y(유가), K(코스닥), N(코넥스), E(기타)
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 법인구분
              corp_code:
                description: |-
                  고유번호

                  공시대상회사의 고유번호(8자리)
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 고유번호
              corp_name:
                description: |-
                  회사명

                  공시대상회사명
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 회사명
              bd_tm:
                description: 사채의 종류(회차)
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 사채의 종류(회차)
              bd_knd:
                description: 사채의 종류(종류)
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 사채의 종류(종류)
              bd_fta:
                description: |-
                  사채의 권면(전자등록)총액 (원)

                  9,999,999,999
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 사채의 권면(전자등록)총액 (원)
              atcsc_rmislmt:
                description: |-
                  정관상 잔여 발행한도 (원)

                  9,999,999,999

                  ② 2020년 7월 6일부터 추가됨
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 정관상 잔여 발행한도 (원)
              ovis_fta:
                description: |-
                  해외발행(권면(전자등록)총액)

                  9,999,999,999
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 해외발행(권면(전자등록)총액)
              ovis_fta_crn:
                description: 해외발행(권면(전자등록)총액(통화단위))
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 해외발행(권면(전자등록)총액(통화단위))
              ovis_ster:
                description: 해외발행(기준환율등)
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 해외발행(기준환율등)
              ovis_isar:
                description: 해외발행(발행지역)
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 해외발행(발행지역)
              ovis_mktnm:
                description: 해외발행(해외상장시 시장의 명칭)
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 해외발행(해외상장시 시장의 명칭)
              fdpp_fclt:
                description: |-
                  자금조달의 목적(시설자금 (원))

                  9,999,999,999
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 자금조달의 목적(시설자금 (원))
              fdpp_bsninh:
                description: |-
                  자금조달의 목적(영업양수자금 (원))

                  9,999,999,999

                  ① 2019년 12월 9일부터 추가됨
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 자금조달의 목적(영업양수자금 (원))
              fdpp_op:
                description: |-
                  자금조달의 목적(운영자금 (원))

                  9,999,999,999
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 자금조달의 목적(운영자금 (원))
              fdpp_dtrp:
                description: |-
                  자금조달의 목적(채무상환자금 (원))

                  9,999,999,999

                  ① 2019년 12월 9일부터 추가됨
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 자금조달의 목적(채무상환자금 (원))
              fdpp_ocsa:
                description: |-
                  자금조달의 목적(타법인 증권 취득자금 (원))

                  9,999,999,999
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 자금조달의 목적(타법인 증권 취득자금 (원))
              fdpp_etc:
                description: |-
                  자금조달의 목적(기타자금 (원))

                  9,999,999,999
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 자금조달의 목적(기타자금 (원))
              bd_intr_ex:
                description: 사채의 이율(표면이자율 (%))
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 사채의 이율(표면이자율 (%))
              bd_intr_sf:
                description: 사채의 이율(만기이자율 (%))
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 사채의 이율(만기이자율 (%))
              bd_mtd:
                description: 사채만기일
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 사채만기일
              bdis_mthn:
                description: 사채발행방법
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 사채발행방법
              ex_rt:
                description: 신주인수권에 관한 사항(행사비율 (%))
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 신주인수권에 관한 사항(행사비율 (%))
              ex_prc:
                description: |-
                  신주인수권에 관한 사항(행사가액 (원/주))

                  9,999,999,999
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 신주인수권에 관한 사항(행사가액 (원/주))
              ex_prc_dmth:
                description: 신주인수권에 관한 사항(행사가액 결정방법)
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 신주인수권에 관한 사항(행사가액 결정방법)
              bdwt_div_atn:
                description: 신주인수권에 관한 사항(사채와 인수권의 분리여부)
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 신주인수권에 관한 사항(사채와 인수권의 분리여부)
              nstk_pym_mth:
                description: 신주인수권에 관한 사항(신주대금 납입방법)
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 신주인수권에 관한 사항(신주대금 납입방법)
              nstk_isstk_knd:
                description: 신주인수권에 관한 사항(신주인수권 행사에 따라 발행할 주식(종류))
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 신주인수권에 관한 사항(신주인수권 행사에 따라 발행할 주식(종류))
              nstk_isstk_cnt:
                description: |-
                  신주인수권에 관한 사항(신주인수권 행사에 따라 발행할 주식(주식수))

                  9,999,999,999
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 신주인수권에 관한 사항(신주인수권 행사에 따라 발행할 주식(주식수))
              nstk_isstk_tisstk_vs:
                description: 신주인수권에 관한 사항(신주인수권 행사에 따라 발행할 주식(주식총수 대비 비율(%)))
                x-opendart-documented-type: not-specified
                x-opendart-korean-name: 신주인수권에 관한 사항(신주인수권 행사에 따라 발행할 주식(주식총수 대비 비율(%)))
              expd_bgd:
                description: 신주인수권에 관한 사항(권리행사기간(시작일))
[...]
